<div class="container">
    <div class="row my-5">
        <div class="col-md-5">
            <img src="../../assets/images/pexels-vic-b-bg.jpg" class="w-100 " alt="">
        </div>
        <div class="col-md-7">
            <h2 class="text-center">About Fashion Page .. </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio in labore corrupti vero? Necessitatibus veritatis recusandae amet vitae, eos totam porro pariatur eius, reprehenderit ut voluptatum aspernatur aliquam optio ratione officiis id, minus ad accusamus omnis vero natus itaque dolores! Harum nihil cupiditate molestiae asperiores eum sapiente sint ipsam voluptatibus repellat ea facere obcaecati, corrupti nobis voluptates quasi dolores et?</p>
        </div>
    </div>
</div>